<app-layout>
  <!--
  <div class="row borda">
    <div class="col margem10">
      <h1>Título</h1>
      <p>Kyros ipsum</p>
      <p>Kyros ipsum</p>
      <p>Kyros ipsum</p>
      <button class="btn btn-primary">Saiba mais</button>
    </div>
    <div class="col borda margem10">
      <table class="total">
        <tr class="total">
          <td valign="middle"><input type="text" class="expandir" /></td>
        </tr>
        <tr class="total" valign="middle">
            <td valign="middle"><input type="text" class="expandir" /></td>
        </tr>
        <tr class="total" valign="middle">
          <td valign="middle"><button class="btn btn-primary">Pesquisar</button></td>
        </tr>
      </table>
    </div>
  </div>
  -->
  <app-login></app-login>
</app-layout>